body{
  background-color: rgb(53, 52, 52);
  width:100vw;
  height:100vh;
}
#main{
  display:flex;
  flex-direction:column;
  border:2px solid rgb(255, 255, 255);
  width:50%;
  height:50%;
  justify-content: center;
  align-items: center;
 padding:120px;
}
